@charset "UTF-8";

.header{
	display: flex;
	justify-content: space-between;
	align-itens: center;
}

.header-right{
	display: flex;
	justify-content: space-between;
	align-itens: center;
}

.title:before{
	content: "Faz um exemplo aqui cachorro, chamando a imagem."
}