@charset "UTF-8";

.espaco{
	margin: 100px;
}

.header{
	display: flex;
	padding: 1% 7%;
	background-color: #4169E1;
	justify-content: space-between;
}

.header__right{
	display: flex;
    align-items: baseline;
    width: 32%;
    justify-content: flex-end;
}

.title h1 img{
	width: 200px;
	height: 60px;
}

.subtitle{
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	color: #fff;
	margin: 16px;
	font-size: 18px;
}

.header__right p{
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	color: #fff;
	margin: 16px;
	font-size: 18px;
}

.header__right_trabalhe{
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	color: #fff;
	font-size: 18px;
	background-color: #3CB371;
	padding: 10px;
	border-radius: 8px;
}

.banner-principal img{
	width: 100%;
	position: relative;
}

.banner-principal-text{
	position: absolute;
	transform: translate(-20%, -70%);
	left: 60%;
    top: 50%;
    
}

.banner-principal-text-title{
	font-size: 40px;
	color: #4169E1;
	text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin-bottom: 36px;
}

.banner-principal-text-info{
	font-size: 18px;
	color: #606060;
	text-align: center;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    line-height: 22px;
}

.banner-principal-text-info strong{
	text-transform: uppercase;
}

.carousel{
	padding: 40px 10px;
}

.carousel-image{
	width: 250px;
	height: 250px;
}

.btn-carousel{
	margin-top: 10px !important;
    width: 25px !important;
    height: 30px !important;
}

.swiper-wrapper .carousel-line{
	margin-right: 10px !important;
	width: 320px !important;
}

.swiper-slide-active{
	margin-left: 35px;
}

.title-carousel{
    font-size: 24px;
    color: #4169E1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.carousel-title{
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #4169E1;
	font-size: 18px;
	margin: 10px 0;
}

.carousel-subtitle{
	color: #808080;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin: 10px 0;
}

.carousel-comprar{
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	background: #3CB371;
	display: block;
	padding: 10px 0;
	width: 70%;
	border-radius: 8px;
	text-transform: uppercase;
}

.banner-double-title{
	font-size: 24px;
    color: #4169E1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.banner-double-imagem{
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.banner-double-imagem-left{
	width: 100%;
	margin-right: 20px;
	position: relative;
}

.banner-double-imagem-left img{
	height: 300px;
	width: 100%;
}

.banner-double-imagem-left h3{
	position: absolute;
	transform: translate(6%, -1520%);
	font-size: 18px;
    color: #4169E1;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.banner-double-imagem-left p{
	position: absolute;
    transform: translate(8%, -170%);
    width: 50%;
    font-size: 14px;
    color: #606060;
    text-align: center;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
}

.banner-double-imagem-right{
	width: 100%;
	position: relative;
}

.banner-double-imagem-right img{
	height: 300px;
	width: 100%;
}

.banner-double-imagem-right h3{
	position: absolute;
	transform: translate(95%, -1520%);
	font-size: 18px;
    color: #4169E1;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.banner-double-imagem-right p{
	position: absolute;
    transform: translate(95%, -260%);
    width: 50%;
    font-size: 14px;
    color: #606060;
    text-align: center;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
}

.text-seo-title{
	margin: 100px 0 50px;
}

.text-seo-title h1{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
	color: #4169E1;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

.text-seo-title-left{
	position: absolute;
}

.text-seo-title-right{
	position: absolute;
}

.text-seo-title-left:after{
	content: '';
	height: 3px;
	width: 100px;
	background: #3CB371;
	display: block;
	position: absolute;
	bottom: -15px;
	left: 445px;
}

.text-seo-title-right:before{
	content: '';
	height: 3px;
	width: 100px;
	background: #3CB371;
	display: block;
	position: absolute;
	bottom: 13px;
	left: 807px;
}

.text-seo-text{
	text-align: center;
	display: block;
	margin-bottom: 100px;
	padding: 0 10%;
}

.text-seo-text p{
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #606060;
	line-height: 20px;
}

.footer__middle__table{
	display: flex;
	background-color: #f4f4f4;
	justify-content: space-between;
	color: #606060;
	padding: 2% 10%;
}

.footer__middle__table__item__title{
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: "Baloo", sans-serif;
}

.footer__middle__table__tags__item__label{
	line-height: 17px;
	text-transform: uppercase;
	font-family: "Baloo", sans-serif;
}

.footer__middle__table__tags{
	display: flex;
	flex-direction: column;
}

.footer__middle__table__item__link a{
	line-height: 24px;
	font-size: 14px;
	font-family: "Fira Sans", sans-serif;
	color: #606060;
}

.footer__middle__table__tags__item{
	display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__middle__table__tags__item__label__icons{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}

.footer__middle__table__tags__item__label__icons li{
	margin-right: 25px;
}

.footer__bottom{
	padding: 2% 10%;
	background-color: #4169E1;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

.footer__bottom__partners{
	display: flex;
}

a{
	text-decoration: none;
}